<div id="userDetails">
  <h2 id="userDetailsTitle">Your information</h2>
  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">ID: </label>
    <span >{{id}}</span>
  </div>

  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">Username: </label>
    <span >{{username}}</span>
  </div>

  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">First name: </label>
    <span >{{firstName}}</span>
  </div>

  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">Last name: </label>
    <span >{{lastName}}</span>
  </div>

  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">E-mail: </label>
    <span >{{email}}</span>
  </div>

  <div class="userDetailsWrapper">
    <label class="userDetailsLabel">Account created at: </label>
    <span id="userCreatedAt">{{createdAt}}</span>
  </div>

  <button id="resetPasswordButton" class="btn btn-success">Reset password</button>
  <button id="backToCalendarButton" class="btn">Return to calendar</button>
</div>
